{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finall page</title>
    <link href="static/css/page.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <div class="message-container">

  <form>
      <img src="static/img/succ.jpg" alt="logo" class="logo">
    <h3 class="success-message">Congratulations,your account has<br>been successfully created</h3>
    <a href="/" class="home-button">Home Page</a>
  </form>
  </div>

</body>
</html>