{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Register</title>
     <link href="static/css/signup.css" rel="stylesheet" type="text/css" media="all" />
</head>

 <div class="hero">
     <div class="form-box">

     <div class="button-box">
         <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="login()">Login</button>
        <button type="button" class="toggle-btn" onclick="register()">Register</button>
     </div>

        <form action="for" method="POST" id="login"  class="input-group">
            {% csrf_token %}
         <input type="text" class="input-field" name="user" placeholder="Username" required>
         <span>Username</span><i></i>
         <input type="text" class="input-field" name="password" placeholder="password" required>
         <span>Password</span><i></i><br><br>
          <div class="links">
             <a href="#">Forget password?</a>
          </div><br>
         <button type="submit" class="submit-btn">Login</button>
        </form>


         <form id="register"  class="input-group">
         <input type="text" class="input-field" name="user" placeholder="Username"  required>
         <span>Username</span>
         <input type="email" class="input-field" name="email" placeholder="Email-Id"  required>
         <span>Email-Id</span>
         <input type="text" class="input-field" name="password" placeholder="Password" required>
         <span>Password</span>
         <input type="text" class="input-field" name="cpassword" placeholder="Conform-password" required>
         <span>conform-Password</span><br><br>

         <button type="submit" class="submit-btn">Register</button>
     </form>

 </div>
 </div>
       <script>
           var x = document.getElementById("login");
           var y = document.getElementById("register");
           var z = document.getElementById("btn");

           function register(){
            x.style.left="-400px";
            y.style.left="50px";
            z.style.left="110px";
           }
            function login(){
            x.style.left="50px";
            y.style.left="450px";
            z.style.left="0px";
           }
       </script>

</body>
</html>